<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
    <servlet>
        <servlet-name>CXFNonSpringJaxrsServlet</servlet-name>
        <servlet-class>org.apache.cxf.jaxrs.servlet.CXFNonSpringJaxrsServlet </servlet-class>
        <init-param>
            <param-name>jaxrs.serviceClasses</param-name>
            <param-value>com.rest.RequestHandler</param-value>
        </init-param>
        <init-param>
			<param-name>jaxrs.providers</param-name>
			<param-value>
                   org.apache.cxf.jaxrs.provider.json.JSONProvider(dropRootElement=true supportUnwrapped=true)
              </param-value>
		</init-param>
		<init-param>
			<param-name>jaxrs.resources</param-name>
			<param-value>
				com.wordnik.swagger.jaxrs.listing.ApiListingResourceJSON
			</param-value>
		</init-param>
		<init-param>
			<param-name>jaxrs.providers</param-name>
			<param-value>
					com.wordnik.swagger.jaxrs.json.JacksonJsonProvider,
                   	com.wordnik.swagger.jaxrs.listing.ResourceListingProvider,
                   	com.wordnik.swagger.jaxrs.listing.ApiDeclarationProvider
            </param-value>
        </init-param>
        <init-param>
      	  	<param-name>swagger.api.version</param-name>
      		<param-value>1.0</param-value>
        </init-param>
        <init-param>
      		<param-name>swagger.api.basepath</param-name>
      		<param-value>http://localhost:8080/swagger/rest/api-docs</param-value>
        </init-param> 
   	    <load-on-startup>1</load-on-startup>
	</servlet>
    <servlet-mapping>
        <servlet-name>CXFNonSpringJaxrsServlet</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>
</web-app>
